<main class="main center">
    <div class="container" style="max-width: 800px;">
        <div id="items-list" class="list padding-top direction-column">
        </div>
        <hr class="hr">
        <div id="total-price" class="right"></div>
    </div>
</main>
<script src="~/js/cart.js" asp-append-version="true"></script>